{% extends 'base.html.twig' %}

{% block title %}Hello CouBooksController!{% endblock %}

{% block content %}

    <div class="div-middle">
        <div class="left-div">
            <h2>
                ABOUT THIS PAGE...
            </h2>


        </div>
    </div>

{% endblock %}
