{% extends 'base.html.twig' %}

{% block content %}
    <h2>YOU'VE ORDERED...</h2>
    <p>Below you find an overview of the books you have reserved.</p>

    <ul>
        {% for book in books %}
            <li>{{ book }}</li>
        {% endfor %}
    </ul>
    <form action="{{ path('order_step', {'step': 3}) }}" method="post">
        <button type="submit">Submit Reservation</button>
    </form>
{% endblock %}
