{% extends 'base.html.twig' %}

{% block content %}
    <h2>STEP 1: WHO ARE YOU</h2>
    <p>Please provide some info about you, so we can search the books you need...</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

