{% block form_row %}
    <div class="form-group">
        {{ form_label(form, null, {'attr': {'class': 'label-custom-feedback'}}) }}
        <div class="input-group">
            {{ form_widget(form, {'attr': {'class': 'input-custom-feedback'}}) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}