{% extends 'base.html.twig' %}

{% block content %}
    {% form_theme form 'feedback/feedback_form_theme.html.twig' %}

    <div style="display: flex; flex-direction: column; margin: 30px">
        <div>
            <h2>Submit Feedback</h2>
        </div>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


